// SIDEBAR SCSS
@import "core";
@import "components/conversation";
@import "fonts/vafont";
// @import "components/conversation-alt";

section.chat-header {
	background: rgba(255,255,255,0.9);
	width:100%;
	position: fixed;
	border-bottom:1px solid #C4BEB6;
	height: 60px;

	z-index: 10;


	.logo {
		display: inline-block;
		left: 0;

	    position: relative;
	    text-align: center;
	    width: 100%;
	    min-width: 350px;

	    span.va-lenovo {
		    color: #6f7170;
		    font-size: 22px;
		    left: 16px;
		    position: absolute;
		    top: 17px;
	    }

	    .va-circle {
		    display: inline-block;
		    height: 50px;
		    left: 50%;
		    position: absolute;
		    width: 73px;

		    span.va-logo {
			    background: #ff6a00 none repeat scroll 0 0;
			    border-radius: 50px;
			    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
			    color: #fff;
			    // font-size: 50px;
			    padding: 8px;
			    position: relative;
			    right: 37px;
			    // top: 11px;

			    font-size: 48px;
			    top: 7px;
			    width: 65px;
			    height: 65px;
			    display: inline-block;
		    }
	    }

		img {
			width: 40px;
			margin-top: 4px;
			margin-left:10px;
		}
		span.logo-label {
			position: relative;
			top: 5px;
			display: inline-block;
		}
	}

	.user-bar {
		display: inline-block;
		right:0;
		float: right;
		
		a {
			color: #6f7170;
		}

		ul {
			li {
				list-style: none;
				display: inline-block;
				span.glyphicon {
					font-size: 24px;
				}
				span {
					font-size: 24px;
				}
				&.user-profile, &.user-settings {
					padding: 15px 15px 0 0;
					box-sizing:border-box;
				}
			}
		}
	}
}