

.conversation-start {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    text-align: center;
    span {
        font-size: 14px;
        display: inline-block;
        color: #555;
        &:before,&:after {
            position: absolute;
            top: 10px;
            display: inline-block;
            width: 30%;
            height: 1px;
            content: '';
            background-color: #555;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
}

$blue: $lenovo-blue;
$white: #fff;
$light: #999;
$dark: #555;


.bubble {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 15px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.4);
    &:before {
        position: absolute;
        // top: 19px;
        display: block;
        width: 8px;
        height: 6px;
        bottom: 0px;
        content: '\00a0';
        transform: rotate(29deg) skew(-35deg);
    }
    &:last-child {
        margin-bottom: 25px;
    }
    &.you {
        float: left;
        color: $dark;
        background-color: #fff;
        align-self: flex-start;
        max-width: 90%;
        // @include animation-name(slideFromLeft);
        &:before {
            left: -3px;
            background-color: #fff;

            width: 19px;
            height: 16px;
            transform: rotate(0deg) skew(-35deg);


        }
    }
    &.me {
        float: right;
        color: $white;
        background-color: $blue;
        align-self: flex-end;
        max-width: 90%;
        // @include animation-name(slideFromRight);
        &:before {
            right: -3px;
            background-color: $blue;

            // top: 33px;
            width: 19px;
            height: 15px;
            transform: rotate(56deg) skew(-35deg);
        }
    }


    .input-controls {
        // border-top:1px solid #d0d0d0;
        margin-top: 10px;

        span {
            font-weight: 700;
            display: inline-block;
            width:100%;
            padding-top:10px;
        }
        ul {
            margin:0;
            padding: 0;
            // padding-top:5px;
            padding: 5px 0;
            li {
                // list-style: none;
                // border:1px solid $blue;
                // border-radius: 4px;
                // margin-top:10px;
                // padding:8px;

                background: #f5f5f5 none repeat scroll 0 0;
                border: medium none;
                border-radius: 4px;
                box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
                list-style: outside none none;
                margin-top: 10px;
                padding: 8px 12px;

                &:hover {
                    background: #fafafa;
                }
            }
        }
    }

    ul.control-box {
        margin:0;
        padding: 0;
        // padding-top:5px;
        padding: 5px 0;
        li {
            // list-style: none;
            // border:1px solid $blue;
            // border-radius: 4px;
            // margin-top:10px;
            // padding:8px;

            background: #f5f5f5 none repeat scroll 0 0;
            border: medium none;
            border-radius: 4px;
            box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
            list-style: outside none none;
            margin-top: 10px;
            padding: 8px 12px;

            &:hover {
                background: #fafafa;
            }
        }
    }
}



.chat {
    position: relative;
    display: none;
    // overflow: hidden;
    overflow-y:scroll;
    overflow-x:hidden;
    // padding: 0 35px 92px;
    // border-width: 1px 1px 1px 0;
    // border-style: solid;
    // border-color: $light;
    border: none;
    height: calc(100% - 48px);
    // justify-content: flex-end;
    // flex-direction: column;

    padding: 80px 20px 40px;
    width:100%;
    // height: 600px;


    // height: 694px;
    height: 100%;
    margin-bottom: -8px;
    background: #f0f0f0;
    &.active-chat {
        // display: block;
        // display: flex;
        display: inline-block;
        .bubble {
            // @include transition-timing-function(cubic-bezier(.4,-.04, 1, 1));
            @for $i from 1 through 10 {
                &:nth-of-type(#{$i}) {
                    // @include animation-duration(.15s *$i);
                }
            }
        }
    }
}


.write {
    // background-color: #eceff1;
    // border: 1px solid #999;
    // border-radius: 5px;
    height: 42px;
    left: 30px;
    // margin: auto 20px;
    padding-left: 8px;
    // width: 400px;
    input {
        font-size: 16px;
        float: left;
        width: 306px;
        height: 40px;
        padding: 0 10px;
        color: $dark;
        border: 0;
        outline: none;
        margin-right: 60px;
        // background-color: #eceff1;

        background: none;
        // @include font;
    }
    .write-link {
        &.attach {
            &:before {
                display: inline-block;
                float: left;
                width: 20px;
                height: 42px;
                content: '';
                background-image: url('http://s1.postimg.org/s5gfy283f/attachemnt.png');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &.smiley {
            &:before {
                display: inline-block;
                float: left;
                width: 20px;
                height: 42px;
                content: '';
                background-image: url('http://s14.postimg.org/q2ug83h7h/smiley.png');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &.send {
            &:before {
                display: inline-block;
                float: left;
                width: 20px;
                height: 42px;
                margin-left: 11px;
                content: '';
                background-image: url('http://s30.postimg.org/nz9dho0pp/send.png');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}

.bubble {
    ul {
        margin:0px;
        padding:0px;
        margin-top: 10px;

        li {
            list-style: none;
        }
    }
}

.img-wrapper {
    // height: 100px;
    width: 150px;
    display: inline-block;
    background: #f0f0f0;
    border: 1px solid #ddd;
    margin: 10px auto;

    img {
        max-width: 100%;
    }
}


.thumb1 { 
// background: url(blah.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-position: 50%;
    background-size: 100%;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    border:1px solid #d0d0d0;
    margin-top:10px;
    width: 100px;
    height: 100px;
}

.thumb1 a {
display: block;
width: 100px;
height: 100px;
}

.chat-body {
    height: 100vh;
    position: relative;
}

.right {
    float: right;
    height: 100vh;
    position: relative;
    width: 100%;
    padding-bottom: 100px;
}

.chat-input {
    background: white none repeat scroll 0 0;
    border-top: 1px solid #ccc;
    bottom: 0;
    height: 100px;
    padding-top: 5px;
    position: absolute;
    width: 100%;
}

.input-field {
    border-top: 1px solid #f0f0f0;
    padding-top: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}


.loading {
  font-size: 38px;
}

.loading span {
    font-size: 80px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    display: block;
    height: 26px;
    margin: 0;
    padding: 0;
    line-height: 0;
    float: left;
    position: relative;
    bottom: 6px;
}

.loading span:nth-child(2) {
  animation-delay: .2s;
}

.loading span:nth-child(3) {
  animation-delay: .4s;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}