

.conversation-start {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    text-align: center;
    span {
        font-size: 14px;
        display: inline-block;
        color: #555;
        &:before,&:after {
            position: absolute;
            top: 10px;
            display: inline-block;
            width: 30%;
            height: 1px;
            content: '';
            background-color: #555;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
}

$blue: $lenovo-blue;
$white: #fff;
$light: #999;
$dark: #555;

.bubble {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 15px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.4);

    &:before {
        position: absolute;
        display: block;
        width: 8px;
        height: 6px;
        bottom: 0px;
        content: '\00a0';
        transform: rotate(29deg) skew(-35deg);
    }

    &:last-child {
        margin-bottom: 25px;
    }
    
    &.you {
        float: left;
        color: $dark;
        background-color: #fff;
        align-self: flex-start;
        max-width: 90%;
        @include animation-name(slideFromLeft);
        &:before {
            left: -3px;
            background-color: #fff;
            width: 19px;
            height: 16px;
            transform: rotate(0deg) skew(-35deg);
        }
    }

    &.me {
        float: right;
        color: $white;
        background-color: $blue;
        align-self: flex-end;
        max-width: 90%;
        @include animation-name(slideFromRight);

        &:before {
            right: -3px;
            background-color: $blue;
            width: 19px;
            height: 15px;
            transform: rotate(56deg) skew(-35deg);
        }
    }

    .input-controls {
        margin-top: 10px;

        span {
            font-weight: 700;
            display: inline-block;
            width:100%;
            padding-top:10px;
        }

        ul {
            margin:0;
            padding: 0;
            padding: 5px 0;

            li {
                background: #f5f5f5 none repeat scroll 0 0;
                border: medium none;
                border-radius: 4px;
                box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
                list-style: outside none none;
                margin-top: 10px;
                padding: 8px 12px;

                &:hover {
                    background: #fafafa;
                }
            }
        }
    }

    ul.control-box {
        margin:0;
        padding: 0;
        padding: 5px 0;

        li {
            background: #f5f5f5 none repeat scroll 0 0;
            border: medium none;
            border-radius: 4px;
            box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
            list-style: outside none none;
            margin-top: 10px;
            padding: 8px 12px;
            cursor:pointer;

            &:hover {
                background: #fafafa;
            }
        }
    }
}



.chat {
    position: relative;
    display: none;
    overflow-y:scroll;
    overflow-x:hidden;
    border: none;
    height: calc(100% - 48px);
    padding: 80px 20px 40px;
    width:100%;
    height: 100%;
    margin-bottom: -8px;
    background: #f0f0f0;
    &.active-chat {
        display: inline-block;

        .bubble {
            // @include transition-timing-function(cubic-bezier(.4,-.04, 1, 1));
            @for $i from 1 through 10 {
                &:nth-of-type(#{$i}) {
                    // @include animation-duration(.05s *$i);
                }
            }
        }
    }
}

.bubble {
    ul {
        margin:0px;
        padding:0px;
        margin-top: 10px;

        li {
            list-style: none;
        }
    }
}

.img-wrapper {
    width: 150px;
    display: inline-block;
    background: #f0f0f0;
    border: 1px solid #ddd;
    margin: 10px auto;

    img {
        max-width: 100%;
    }
}


.thumb1 { 
    background-position: 50%;
    background-size: 100%;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    border:1px solid #d0d0d0;
    margin-top:10px;
    width: 100px;
    height: 100px;

    > a {
        display: block;
        width: 100px;
        height: 100px;
    }
}


.chat-body {
    height: 100vh;
    position: relative;
}

.right {
    float: right;
    height: 100vh;
    position: relative;
    width: 100%;
    padding-bottom: 100px;
}

.chat-input {
    background: white none repeat scroll 0 0;
    border-top: 1px solid #ccc;
    bottom: 0;
    height: 100px;
    padding-top: 5px;
    position: absolute;
    width: 100%;

    .write {
        height: 42px;
        left: 30px;
        padding-left: 8px;

        input {
            font-size: 16px;
            float: left;
            height: 40px;
            padding: 0 10px;
            color: $dark;
            border: 0;
            outline: none;
            margin-right: 40px;
            background: none;
            width:100%;
            padding-right: 90px;
            display: inline-block;
            box-sizing:border-box;
        }

        .chat-action-container {
            position: absolute;
            right: 6px;

            .chat-action {
                text-decoration: none;
                color: #6f7170;
                position: relative;
                top: 10px;
                margin-right: 10px;
                span {
                    &.va-paperplane, &.va-send {
                        font-size:20px;
                    }
                }
            }
        }
    }
}

.input-field {
    border-top: 1px solid #f0f0f0;
    padding-top: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}


.loading {
  font-size: 38px;

  span {
    font-size: 80px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    display: block;
    height: 26px;
    margin: 0;
    padding: 0;
    line-height: 0;
    float: left;
    position: relative;
    bottom: 6px;

    &:nth-child(2) {
        animation-delay: .2s;
    }

    &:nth-child(3) {
        animation-delay: .4s;
    }
  }
}


@keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}