

.conversation-start {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    text-align: center;
    span {
        font-size: 14px;
        display: inline-block;
        color: #555;
        &:before,&:after {
            position: absolute;
            top: 10px;
            display: inline-block;
            width: 30%;
            height: 1px;
            content: '';
            background-color: #555;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
}

$blue: $lenovo-blue;
$white: #fff;
$light: #999;
$dark: #555;


.bubble {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 15px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.4);
    &:before {
        position: absolute;
        top: 19px;
        display: block;
        width: 8px;
        height: 6px;
        content: '\00a0';
        transform: rotate(29deg) skew(-35deg);
    }
    &:last-child {
        margin-bottom: 25px;
    }
    &.you {
        float: left;
        color: $dark;
        background-color: #fff;
        align-self: flex-start;
        max-width: 90%;
        // @include animation-name(slideFromLeft);
        &:before {
            left: -3px;
            background-color: #fff;
        }
    }
    &.me {
        float: right;
        color: $white;
        background-color: $blue;
        align-self: flex-end;
        max-width: 90%;
        // @include animation-name(slideFromRight);
        &:before {
            right: -3px;
            background-color: $blue;
        }
    }


    .input-controls {
        border-top:1px solid #d0d0d0;
        margin-top: 10px;

        span {
            font-weight: 700;
            display: inline-block;
            width:100%;
            padding-top:10px;
        }
        ul {
            margin:0;
            padding: 0;
            // padding-top:5px;
            padding: 5px 0;
            li {
                // list-style: none;
                // border:1px solid $blue;
                // border-radius: 4px;
                // margin-top:10px;
                // padding:8px;

                background: #f5f5f5 none repeat scroll 0 0;
                border: medium none;
                border-radius: 4px;
                box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
                list-style: outside none none;
                margin-top: 10px;
                padding: 8px 12px;

                &:hover {
                    background: #fafafa;
                }
            }
        }
    }
}

.chat {
    position: relative;
    display: none;
    // overflow: hidden;
    overflow-y:scroll;
    overflow-x:hidden;
    // padding: 0 35px 92px;
    // border-width: 1px 1px 1px 0;
    // border-style: solid;
    // border-color: $light;
    border: none;
    height: calc(100% - 48px);
    // justify-content: flex-end;
    // flex-direction: column;

    padding: 80px 20px 40px;
    width:100%;
    // height: 600px;


    height: 694px;
    margin-bottom: -8px;
    background: #f0f0f0;
    &.active-chat {
        // display: block;
        // display: flex;
        display: inline-block;
        .bubble {
            // @include transition-timing-function(cubic-bezier(.4,-.04, 1, 1));
            @for $i from 1 through 10 {
                &:nth-of-type(#{$i}) {
                    // @include animation-duration(.15s *$i);
                }
            }
        }
    }
}


.write {
    // background-color: #eceff1;
    // border: 1px solid #999;
    // border-radius: 5px;
    height: 42px;
    left: 30px;
    // margin: auto 20px;
    padding-left: 8px;
    // width: 400px;
    input {
        font-size: 16px;
        float: left;
        width: 306px;
        height: 40px;
        padding: 0 10px;
        color: $dark;
        border: 0;
        outline: none;
        margin-right: 60px;
        // background-color: #eceff1;

        background: none;
        // @include font;
    }
    .write-link {
        &.attach {
            &:before {
                display: inline-block;
                float: left;
                width: 20px;
                height: 42px;
                content: '';
                background-image: url('http://s1.postimg.org/s5gfy283f/attachemnt.png');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &.smiley {
            &:before {
                display: inline-block;
                float: left;
                width: 20px;
                height: 42px;
                content: '';
                background-image: url('http://s14.postimg.org/q2ug83h7h/smiley.png');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &.send {
            &:before {
                display: inline-block;
                float: left;
                width: 20px;
                height: 42px;
                margin-left: 11px;
                content: '';
                background-image: url('http://s30.postimg.org/nz9dho0pp/send.png');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}



.right {
    float: right;
    height: 100%;
    position: relative;
    width: 100%;
}

.chat-input {
    border-top: 1px solid #ccc;
    padding-top: 5px;
}