// Sidebar Flap

.sidebar-flap {
    @include bg-color($lenovo-orange);
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-family: lato-300;
    font-size: 20px;
    position: fixed;
    right: -25px;
    top: 30%;
    transform: rotate(-90deg);
    transform-origin: 100% 100% 0;

    transition: all 0.2s ease-out;

    &:hover {
    	right:-20px;
    	box-shadow: 0 0 25px -1px rgba(0, 0, 0, 0.3);
    }


	ul {
		padding:0;
		margin:0;

		a {
			border:none;
			outline:none;
			margin-left:-5px;
			&:first-child {
				margin-left:0px;
			}
			&:hover, &:active, &:focus {
				border:none;
				outline: none;
			}
		}


		li {
			padding:15px 20px;
			list-style: none;
			display: inline-block;
			border-right: 1px solid #fff;
			padding-right: 18px;
			margin-left:-5px;
			border-radius: 4px 0px 0px 0px;
			padding-bottom: 40px;
			transition: all 0.2s ease-out;

			&:first-child {
				margin-left:0px;
				a {
					margin-left:0px;
				}
			}

			&:last-child {
				border-right: none;
				border-radius: 0px 4px 0px 0px;
			}

			&:hover {
				background: orange;
				cursor: pointer;
			}

			.flap-icon {
				transform: rotate(90deg);
				display: inline-block;
				margin-left: 4px;
				span {
					color:#fff;
				}
			}

			.flap-text {
				display: inline-block;
				span {
					color:#fff;
					&.flap-label {

					}
				}
			}

			&.virtual-agent {

			}
		}
	}
}