// Sidebar Flap

.sidebar-flap {
	display: inline-block;
	@include bg-color($lenovo-orange);
	// padding:5px;
	// width: 500px;
	font-family: lato-200;
	font-size: 20px;
	// border-radius: 4px 4px 0px 0px;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);

	transform: rotate(-90deg);
	transform-origin: 100% 100% 0;
	position: fixed;
	right: 0;
	top: 30%;


	ul {
		padding:0;
		margin:0;

		a {
			margin-left:-5px;
			&:first-child {
				margin-left:0px;
			}
		}


		li {
			padding:15px;
			list-style: none;
			display: inline-block;
			// margin-left:10px;
			border-right: 1px solid #fff;
			padding-right: 18px;
			margin-left:-5px;

			&:first-child {
				margin-left:0px;
				a {
					margin-left:0px;
				}
			}

			&:last-child {
				// padding-right: 0;
				border-right: none;
			}

			&:hover {
				background: orange;
				cursor: pointer;
			}

			.flap-icon {
				transform: rotate(90deg);
				display: inline-block;
				margin-left: 4px;
				span {
					color:#fff;
				}
			}

			.flap-text {
				// background: orange;
				display: inline-block;
				span {
					color:#fff;
					&.flap-label {
						// transform: rotate(-90deg);
						// transform-origin: left top;
						// display: block;
					}
				}
			}

			&.virtual-agent {

			}
		}
	}
}